<% if target && target.errors.any? %>  
<div class="alert alert-error">  
  <button class="close" data-dismiss="alert">×</button>
  <strong>Existen errores</strong>
  <ul>  
  <% target.errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>  
  <% end %>  
  </ul>  
</div>  
<% end %> 
