<%for producto in productos%>
	<div class="fila">
	<% if producto.respond_to? :name %>
		<div class="campo"><%=producto.name%></div>
	<% else %>
		<div class="campo"><%=producto.nombre%></div>
	<% end %>
		<div class="valor"><%=button_to "Agregar", e_sale_path(producto.id),:method => :put%></div>
	</div>	
<%end%>
	
