<%for producto in productos%>
	<div class="fila">
	<% if producto.respond_to? :name %>
		<div class="campo"><%=producto.name%></div>
	<% else %>
		<div class="campo"><%=producto.nombre%></div>
	<% end %>
		<div class="valor"><%=link_to "Agregar", ''%></div>
	</div>	
<%end%>
	
