<%=form_tag("/products/buscar", :method => "get", :remote=>true, :update=>"product_list") do %>
	<%=label_tag :nombre , "Nombre"%>
	<%=text_field_tag :nombre%>
	<%=submit_tag "Buscar"%> 
<%end%>
<br/>

<div id="product_list">
</div>
