<h1>Corte diario</h1>
<form id="reporte" action="diario" method="get" class="form-inline">
  Fecha del reporte: <input type="text" name="date" id="datepicker" />
  <input type="submit" class="btn btn-primary" />
</form>
